<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <% if (isAuthenticated) { %>
            <li class="main-header__item">
                <a class="" href="/">Home</a>
            </li>
            <li class="main-header__item">
                <a class="" href="/timeoff">Time Off</a>
            </li>
        </ul>
        <ul class="main-header__item-list">

            <% } %>
            <li class="main-header__item">
                <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
            </li>
            <li class="main-header__item">
                <form action="/logout" method="post">
                    <button type="submit">Logout</button>
                </form>
            </li>
        </ul>
    </nav>
</header>
