<!DOCTYPE html>
<html lang="en">
<head>
  
</head>
<body class="container">

<header>
    <%- include('partials/head'); %>
</header>

<main>
<div class="jumbotron">
    <%- include('partials/navigation'); %>
</div>
</main>

<footer>
    <%- include('partials/footer'); %>
</footer>

</body>
</html>