<%- include('../partials/head.ejs') %>
    </head>

    <body>
        <%- include('../partials/navigation.ejs') %>
        <main class="centered">
            <h1><%= item.startDate %></h1>
            <hr>
        </main>
        <%- include('../partials/footer.ejs') %>